@using Models
@using Clients

@inject NavigationManager NavigationManager
@inject MedicationCardService CardService

@rendermode InteractiveServer
@page "/"

<PageTitle>Medications</PageTitle>


@foreach (var card in cards)
{
    <div class="w-75 mx-auto rounded-4 medication mt-5 mb-5" @onclick="() => OpenMedication(card)">

        <h1 class="ms-2 h-25">@card.Name</h1>
        <div class="d-flex">
            <img src="@card.ImagePath" alt="@card.Name" class="w-25 ms-2 mb-2 rounded-3">
            <p class="w-50 ms-2 d-inline mb-2">@card.Description</p>
        </div>
    </div>
}

@code {

    private MedicationCard[] cards = Array.Empty<MedicationCard>();

    protected override void OnInitialized()
    {
        cards = CardService.GetMedicationCards();
    }

    void OpenMedication(MedicationCard card)
    {
        NavigationManager.NavigateTo($"medication/{card.Id}");
    }
}