.medication {
    background-color: var(--secondary);
}

p {
    font-size: x-small;
}

button {
    background-color: var(--background);
    border: none;
    color: var(--text);
    text-align: left;
}