@page "/"

<PageTitle>Medications</PageTitle>

<button class="mt-5">
    <div class="w-75 mx-auto rounded-4 medication">
        <h1 class="ms-2 h-25">Kinecteen 18mg</h1>
        <div class="d-flex">
            <img src="images/Kinecteen.webp" alt="Kinecteen" class="w-25 ms-2 mb-2 rounded-3">
            <p class="w-50 ms-2 d-inline mb-2"">
                ADHS-Medikation mit 18mg Methylphenidathydrochlorid als aktiver Wirkstoff. 
                Plateu-Präperat mit einer erwarteten Wirkdauer von 10h.
            </p>
        </div>
    </div>
</button>