@page "/medication/{Id:int}"
@rendermode InteractiveServer

@using Clients
@using Models

@inject MedicationCardService CardService

@if (card == null)
{
    <p>Loading Medication...</p>
}
else
{
    <div class="text-center my-4">
        <h1>@card.Name</h1>
    </div>

    <div class="card">
        <h2 class="text-center mb-2">Select Day</h2>

        <div class="drum">

            <div class="drum-sep"></div>

            <div class="drum-col">
                <div class="wheel-spacer"></div>
                @for (int i = 0; i < 30; i++)
                {
                    int index = i;
                    <div class="wheel-item">
                        @((index + 1).ToString("D2"))
                    </div>
                }
                <div class="wheel-spacer"></div>

            </div>

            <div class="drum-sep"></div>

        </div>

    </div>
}

@code {
    [Parameter] public int Id { get; set; }

    private MedicationCard? card;

    protected override void OnInitialized()
    {
        card = CardService.GetMedicationCardByID(Id);
    }
}