@page "/medication/{Id:int}"
@rendermode InteractiveServer

@using Clients
@using Models

@inject NavigationManager NavigationManager
@inject MedicationEntryService MedicationEntryService

@inject MedicationCardService CardService
@inject NavigationManager NavigationManager

@if (card == null)
{
    <p>Loading Medication...</p>
}
else
{
    <div class="text-center mt-5">
        <h1>@card.Name</h1>
    </div>

    <div class="card">
        <h2 class="text-center mb-2">Select Day</h2>

        <div class="drum">

            <div class="drum-sep"></div>

            <div class="drum-col">
                <div class="wheel-spacer"></div>
                @foreach (var entry in entries)
                {
                    <div class="wheel-item" @onclick="() => ToSelectedEntry(entry.Id)">
                        @entry.Date.ToString("dd.MM.yyyy")
                    </div>
                }
                <div class="wheel-spacer"></div>

            </div>

            <div class="drum-sep"></div>

        </div>
    </div>

    <div class="createBtn">
        <h3>+</h3>
    </div>

    <div class="backBtn" @onclick="() => ToHomePage()">
        <h3>&lt;</h3>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }

    private MedicationEntry[] entries = Array.Empty<MedicationEntry>();

    private MedicationCard? card;

    protected override void OnInitialized()
    {
        card = CardService.GetMedicationCardByID(Id);
        entries = MedicationEntryService.GetMedicationEntries();
    }

    private void ToSelectedEntry(int id)
    {
        NavigationManager.NavigateTo($"/medication/entry/{id}");
    }

    private void ToHomePage()
    {
        NavigationManager.NavigateTo("/");
    }
}